<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spittles</title>
</head>
<body>
    <div th:if="${spittleList!=null}">
        <ul>
            <li th:each="spittle:${spittleList}">
                <span th:text="${spittle.id}"></span><br>
                <span th:text="${spittle.message}"></span><br>
                (<span th:text="${spittle.latitude}"></span>,
                <span th:text="${spittle.longitude}"></span>)
            </li>
        </ul>
    </div>
</body>
</html>