<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>SpittrSecurity</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}"/>
</head>
<body>
    <div id="header" th:include="page :: header"/>
    <form name="f" th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>User:</td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="remember_me" name="remember-me" type="checkbox"/>
                    <label for="remember_me" class="inline">Remember me</label>
                </td>
            </tr>
        </table>
    </form>
    <div id="copy" th:include="page :: copy"/>
</body>
</html>