p {
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    background-color: cyan;
  }
  
  p:nth-child(1) {
    width: 150px;
    font-size: 18px;
  }
  
  p:nth-child(2) {
    width: 250px;
    font-size: 24px;
  }
  
  p:nth-child(3) {
    width: 350px;
    font-size: 30px;
  }