ul {
    padding: 0;
    list-style-type: none;
  }
  
  ul a {
    text-decoration: none;
    display: block;
    color: black;
    background-color: red;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  ul a:hover {
    color: red;
    background-color: black;
  }
  
  h1~p {
    font-weight: bold;
    color: blue;
  }