p::first-line {
    font-weight: bold;
}
  
p::first-letter {
    font-size: 3em;
    border: 1px solid black;
    background: red;
    display: block;
    float: left;
    padding: 2px;
    margin-right: 4px;
  }