p {
    color: red;
    width: 100px;
    font-size: 40px;
    transform-origin: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p:hover {
    animation-name: rotate;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: 5;

}